<div class="row">
  <div class="col-sm-4 poster" *ngFor="let movie of listMovie">
    <div>
      <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="img-fluid" />
    </div>
    <div class="overlay" (click)="gotoDetail(movie.id)">
      <div class="text-middle">
        <h4>{{ movie.title }}</h4>
        <h5>{{ movie.vote_average | decimal: 1 }}/10</h5>
      </div>
      <div class="favorite-icon" (click)="toggleFavoriteMovie(movie); $event.stopPropagation()" [ngClass]="{ 'favorited': isFavorite(movie) }">
        <i class="fa fa-heart"></i>
      </div>
    </div>
  </div>
</div>