<div class="container" *ngIf="detailMovie">
  <div class="row">
    <div class="col-md-2 col-6">
      <a [routerLink]="['/movies']" class="btn btn-danger mb-3">
        <i class="fas fa-arrow-left"></i> {{ "navigation.back" | translate }}
      </a>
    </div>
    <div class="col-md-10">
      <div class="row mt-4">
        <div class="col-md-6">
          <img
            src="https://image.tmdb.org/t/p/w500{{ detailMovie.poster_path }}"
            class="img-fluid detail"
            alt="Movie Poster"
          />
        </div>
        <div class="col-md-6 my-auto">
          <h1>{{ detailMovie.title }}</h1>
          <div
            *ngFor="let genre of detailMovie.genres"
            class="badge badge-genre"
          >
            {{ genreTitle(genre.name) | translate }}
          </div>
          <p class="mt-3">{{ description(detailMovie.id) | translate }}</p>
          <p class="txt" [class.favorite]="isFavorite">
            {{
              (isFavorite ? "navigation.favorite" : "navigation.unfavorite")
                | translate
            }}
          </p>
          <button
            class="btn btn-fav"
            [class.unfavorite]="isFavorite"
            (click)="toggleFavoriteMovie(detailMovie, isFavorite)"
          >
            <i class="fa fa-heart"></i>
            {{
              (isFavorite
                ? "navigation.unfavorite"
                : "navigation.mark_as_favorite"
              ) | translate
            }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
